.page-product-list {
  &--container {
    display: grid;
    padding: 2rem 5rem;
    gap: 2rem;
    grid-template-columns: 15rem 1fr;
  }

  &--header {
    grid-column: 1 / 3;
  }

  &--select {
    min-width: 10rem !important;
    margin-right: 2rem !important;
  }

  &--resultCount {
    margin-right: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
  }

  &--list-ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: unset;
    padding-top: 2rem;

    li {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      background: white;
      border: 1px solid rgba(7,7,7,0.1);
      border-radius: 0.5rem;

      svg {
        color: gray;
      }

      .product-item {


        &--img-c {

          position: relative;
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 1rem;
        }

        &--alt-photo {
          position: absolute;
          top: 0;
          left: 50%;
          width: 13rem;
          height: 13rem;
          min-height: 13rem;
          z-index: 1;
          transform: translateX(-50%);
        }

        &--topic {
          position: absolute;
          top: 0;
          left: 0;
          padding: 0.5rem 1rem;
          background: white;
          border: 1px solid rgba(7,7,7,0.1);
          border-left: unset;
          //box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
          z-index: 5;
        }

        &--overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: black;
          opacity: 0.03;
          z-index: 3;
          display: none;
        }


        &--cat {
          text-transform: uppercase;
          color: gray;
          font-weight: 500;
        }

        &--name {
          font-size: 0.9rem;
          width: 90%;
          text-align: center;
        }

        &--price {
          font-family: Serif;

        }

      }

      p {
        margin: 0;
        margin-top: 0.5rem;
      }

      img {
        position: relative;
        width: 13rem;
        min-height: 13rem;
        z-index: 2;

        &:hover {
          opacity: 0;
        }
      }


    }
  }
}
